<div class="container">
  <div class="row">
    <div class="col-md-8">
      <a href="/contact/add" class="btn btn-primary mt-2"
        >Tambah Data Contact</a
      >

      <% if (msg.length !== 0) { %>
        <div class="alert alert-success mt-2" role="alert"><%= msg %> </div>
        <% } %>

      <h2>Daftar Contact</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">No HP</th>
            <th scope="col">Email</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0) { %>
            <tr>
              <td colspan="4">
                <div class="alert alert-danger fw-bold" role="alert">Data contact masih kosong</div>
              </td>
            </tr>
            <% } %>
          <% contacts.forEach((contact, i) => { i++ %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><%= contact.nama %></td>
            <td><%= contact.noHP %></td>
            <td><%= contact.email %></td>
            <td>
              <a href="/contact/<%= contact.nama %>" class="btn btn-success badge rounded-pill"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-info-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                  /></svg
                >detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
